html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-color:#FFF;
}

canvas {
    background-color:#EEE;
}

#analyzer {
    position: fixed;
    bottom: 0;
    border: 1px solid black;
    background-color:#FFF;
}
